@import "../../global";

.header {
  position: fixed;
  top: 3em;
  left: 3em;
  z-index: 10;

  @media (max-width: $bp-mobile) {
    position: static;
    text-align: center;
    width: 90px;
    margin: 30px auto 0;

    .logo {
      width: 100%;
    }
  }
}
