{
  "env": {
    "production": {
      "plugins": [
        [ "emotion", { "hoist": true } ]
      ]
    },
    "development": {
      "plugins": [
        [ "emotion", { "sourceMap": true, "autoLabel": true } ]
      ]
    }
  },
  "plugins": [
    "@babel/proposal-class-properties"
  ],
  "presets": [
    [
      "@babel/preset-env", {
        "useBuiltIns": "usage",
        "modules": false
      }
    ],
    "@babel/preset-react"
  ]
}
