{
  "presets": [
    [ "@babel/preset-env", { "modules": false } ],
    "@babel/preset-react"
  ],
  "env": {
    "production": {
      "plugins": [["emotion", { "hoist": true }]]
    },
    "development": {
      "plugins": [
        ["emotion", { "sourceMap": true, "autoLabel": true }]
      ]
    }
  }
}
