@import 'normalize-css';

html {
  font: normal 16px/1.4 "Proxima Nova", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;

  &:focus {
    outline: none;
  }
}
