@import "../global";

.app {
	padding: 0 2.5%;

	&-header {
		position: fixed;
		top: 3em;
		left: 3em;
		z-index: 10;

		@media (max-width: $bp-mobile) {
			position: static;
			text-align: center;
			width: 90px;
			margin: 30px auto 0;

			.logo {
				width: 100%;
			}
		}
	}

	&-content {
		padding-top: 35px;

		@media (max-width: $bp-mobile) {
			padding-top: 30px;
		}
	}
}

.logo {
	width: 70px;
	transition: all .2s;

	svg {
		width: 100%;
	}
}

.article {
	position: relative;
	text-align: center;
	margin: 0 auto;
	max-width: 500px;
	line-height: 1.6em;
	hyphens: auto;

	> p:first-of-type {
		font-size: 1.1em;
		padding-left: 0;
	}

/*	> p {
		padding-left: 3em;
	}*/

	img {
		max-width: 200px;
		position: absolute;
		left: 0;
		top: -.5em;
		z-index: -1;
	}
}
